cycler==0.10.0
Django==1.10.2
django-hosts==2.0
functools32==3.2.3.post2
gunicorn==19.7.0
matplotlib==2.0.0
mpmath==0.19
MySQL-python==1.2.5
numpy==1.12.0
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
scipy==0.18.1
six==1.10.0
subprocess32==3.2.7
sympy==1.0
ubuntuone-client-data==14.4
unity-lens-photos==1.0
whitenoise==2.0.6
