{% extends 'modulacion/app.html' %} {% block content %} {% csrf_token %}
<div class="col-md-10">
    <h3 id="modalidad"></h3>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Inicio</a></li>
        <li><a data-toggle="tab" href="#menu1">Moduladora</a></li>
        <li><a data-toggle="tab" href="#menu2">Portadora</a></li>
        <li><a data-toggle="tab" href="#menu3">Modulada</a></li>
        <li><a data-toggle="tab" href="#menu4">Espectro de Frecuencias</a></li>
    </ul>
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <div class="col-md-12" align="center">
                <div class="col-md-10" align="center">
                    <div class="form-group" align="center">
                        <div class="col-md-12">
                            <p class="label-signal">Moduladora:</p>
                            $Vm(t) = V{\small m}{\cos}(2{\pi}f{\small m}t)$
                            <br>
                            <div class="eq">
                                <span class="label-signal">$Vm(t) = $</span>
                                <input class="form-control" type="text" id="vm" name="vm" placeholder="Vm" value="0.13" />
                            </div>
                            <div class="eq">
                                <input class="form-control" type="text" id="vmt" name="vmt" placeholder="sen" value="sen" />
                                <span class="label-signal">$(2{\pi}$</span>
                            </div>
                            <div class="eq">
                                <input class="form-control" type="text" id="fm" name="fm" placeholder="Fm" value="100" />
                                <span class="label-signal">$t)$</span>
                            </div>
                        </div>
                        <input type="hidden" name="eq-moduladora" id="eq-moduladora">
                        <div></div>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <p class="label-signal">Portadora:</p>
                                $Vc(t) = V{\small c}{\cos}(2{\pi}f{\small c}t)$
                            </div>
                            <div class="eq">
                                <span class="label-signal">$Vc(t) = $</span>
                                <input class="form-control" type="text" id="vc" name="vc" placeholder="Vc" value="500" />
                            </div>
                            <div class="eq">
                                <input class="form-control" type="text" id="vct" name="vct" placeholder="cos" value="cos" />
                                <span class="label-signal">$(2{\pi}$</span>
                            </div>
                            <div class="eq">
                                <!--100.000
                                    100K-->
                                <input class="form-control" type="text" id="fc" name="fc" placeholder="Fc" value="100000" />
                                <span class="label-signal">$t)$</span>
                            </div>
                        </div>
                        <input type="hidden" id="eq-portadora" name="eq-portadora" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="col-md-12">
                        <label for="ruido">Agregar Ruido</label>
                        <input type="checkbox" id="ruido" name="ruido">
                    </div>
                    <div class="col-md-12">
                        <label id="kl-label">$K{\small l}$:</label>
                        <label id="k-label">$K$:</label>
                        <input class="form-control" type="text" name="kl" id="kl" value="10000" />
                    </div>
                    <div class="col-md-12">
                        <label for="kl">$m$:</label>
                        <input class="form-control" type="text" id="m" name="m" value="" />
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-warning" onclick="modulate()"><b>Modular</b></button>
                </div>
            </div>
            <div class="col-md-12" align="center">
                <div class="form-group">
                    <p class="label-signal">Modulada:</p>
                    <div id="eq-modulada-fm">
                        $m(t) = V{\small c}{\cos}(W{\small c}t + K{\small l}{\int}Vm(t))$
                    </div>
                    <div id="eq-modulada-pm">
                        $m(t) = V{\small c} {\cos}(W{\small c}t + KVm(t))$
                    </div>


                    <br>
                    <div class="eq">
                        <span class="label-signal">$m(t) = $</span>
                        <input class="form-control" type="text" id="vc_modulada" name="vc_modulada" placeholder="Vc" />
                    </div>
                    <div class="eq">
                        <input class="form-control" type="text" id="vct_modulada" name="vct_modulada" placeholder="cos"  />
                        <span class="label-signal">$(2{\pi}$</span>
                    </div>
                    <div class="eq">
                        <input class="form-control" type="text" id="fc_modulada" name="fc_modulada" placeholder="Fc" />
                        <span class="label-signal">$t $</span>
                    </div>
                    <div class="eq"  style="padding-top: 7px; margin-left: 6px; margin-right: 6px; ">
                        <span id="plus" onclick="change_sign()" style="cursor: pointer;">$ + $</span>
                        <span id="minus" onclick="change_sign()" class="hidden" style="cursor: pointer;">$ - $</span>
                    </div>
                    <div class="eq">
                        <input class="form-control" type="text" id="kl_modulada" name="kl_modulada" placeholder="Kl" />
                        <span class="label-signal">$*$</span>
                    </div>
                    <div class="eq">
                        <input class="form-control" type="text" id="vmt_modulada" name="vmt_modulada" placeholder="cos"  />
                        <span class="label-signal">$(2{\pi}$</span>
                    </div>
                    <div class="eq">
                        <input class="form-control" type="text" id="fm_modulada" name="fm_modulada" placeholder="Fm"  />
                        <span class="label-signal">$t)$</span>
                    </div>
                    <input type="hidden" name="eq-modulada" id="eq-modulada" value="4*cos(2*pi*2*x - 4*sin(2*pi*1.5*x))">
                    <!-- "4*cos(2*pi*2*x + 4*sin(2*pi*1.5*x))" /> 6*cos(100*pi*x+70*cos(30*pi*x))-->
                </div>
                <button class="btn btn-danger" onclick="demodulate()"><b>Demodular</b></button>
            </div>
        </div>
        <div id="menu1" class="tab-pane fade">
            <div id="plot-moduladora">Debes clicar los botones Modular o Demodular para ver la grafica</div>
        </div>
        <div id="menu2" class="tab-pane fade">
            <div id="plot-portadora">Debes clicar los botones Modular o Demodular para ver la grafica</div>
        </div>
        <div id="menu3" class="tab-pane fade">
            <div id="plot-modulada">Debes clicar los botones Modular o Demodular para ver la grafica</div>
        </div>
        <div id="menu4" class="tab-pane fade">
            <div id="spectrum" width="800" height="400">Debes clicar los botones Modular o Demodular para ver la grafica</div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="close_modal()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Datos</h4>
            </div>
            <div class="modal-body">
                <div id="modal-fm" class="hidden">
                    <label for="tiempof">${\small t}:$</label>
                    <input type="text" class="form-control input-modal-1" value="1" name="tiempof" id="tiempof" placeholder="Tiempo"> <br> <br>
                    <label for="deltaw">${\Delta \small w }:$</label>
                    <input type="text" name="deltaw" id="deltaw" readonly><br> <br>
                    <label for="deltavf">${\Delta \small V }:$</label>
                    <input type="text" name="deltavf" id="deltavf" readonly><br> <br>
                    <p class="label-signal">Desviación de frecuencia: </p>
                    <h3>${\Delta}f = K{\small l}V{\small m} = $ 
                    <input type="text" name="deltaf" id="deltaf" readonly></h3>
                    <p class="label-signal">Desviación instantánea de frecuencia: </p>
                    <h3>${\theta}'(t) = K{\small l}V{\small m}'(t) = $
                    <input type="text" name="titapdet" id="titapdet" readonly></h3>
                    <p class="label-signal">Frecuencia instantánea:</p>
                    <h3>$f{\small i} = f{\small c} + \frac{\theta '(t)}{2 \pi} = $
                    <input type="text" name="f_instantanea" id="f_instantanea" readonly></h3>
                    <p class="label-signal">Sensibilidad a la Desviación:</p>
                    <h3>$K{\small l} = \frac{\Delta \small w }{\Delta \small v} = $
                    <input type="text" name="sensibkl" id="sensibkl" readonly></h3>
                    <p class="label-signal">Ancho de banda (bessel):</p>
                    <h3>$B = 2(n*f{\small m}) = $
                    <input type="text" name="Bbesselfr" id="Bbesselfr" readonly></h3>
                    <p class="label-signal">Ancho de banda (carson):</p>
                    <h3>$B = 2({\Delta}f+f{\small m}) = $
                    <input type="text" name="Bcarsonfr" id="Bcarsonfr" readonly></h3>
                </div>
                <div id="modal-pm" class="hidden">
                    <label for="tiempo">${\small t}:$</label>
                    <input type="text" class="form-control input-modal-1" value="1" name="tiempo" id="tiempo" placeholder="Tiempo"> <br> <br>
                    <label for="deltav">${\Delta \small V }:$</label>
                    <input type="text" name="deltav" id="deltav" readonly> <br> <br>
                    <label for="deltaaf">${\Delta \small f }:$</label>
                    <input type="text" name="deltaaf" id="deltaaf" readonly> <br> <br>
                    <h3>${\Delta}{\theta} = KV{\small m} = 
                    $<input type="text" name="deltatita" id="deltatita" readonly></h3>
                    <p class="label-signal">Desviación instantánea de fase: </p>
                    <h3>${\theta}(t) = KV{\small m}(t) =
                    $<input type="text" name="titadet" id="titadet" readonly></h3>
                    <p class="label-signal">Fase instantánea:</p>
                    <h3>${\theta}{\small i}(t) = W{\small c}t + {\theta}(t) = 
                    $<input type="text" name="tita_instantanea" id="tita_instantanea" readonly></h3>
                    <p class="label-signal">Sensibilidad a la Desviación:</p>
                    <h3>$K = \frac{\Delta \small \theta }{\Delta \small v} = 
                    $<input type="text" name="sensibk" id="sensibk" readonly></h3>
                    <p class="label-signal">Ancho de banda (bessel):</p>
                    <h3>$B = 2(n*f{\small m}) = 
                    $<input type="text" name="Bbesself" id="Bbesself" readonly></h3>
                    <p class="label-signal">Ancho de banda (carson):</p>
                    <h3>$B = 2({\Delta}f+f{\small m}) = 
                    $<input type="text" name="Bcarsonf" id="Bcarsonf" readonly></h3>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="close_modal()">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="calculo_datos()">Calcular</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
